/***************************
COLORS
*****************************/
section:nth-child(1) {
	background:white;
  background-image: url(1.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}

section:nth-child(2) {
  background: #EFD9CE;
    background-image: url(2.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}

section:nth-child(3) {
  background: #DEC0F1;
    background-image: url(3.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}

section:nth-child(4) {
  background: #B79CED;
    background-image: url(4.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}
section:nth-child(5) {
  background:#957FEF;
    background-image: url(5.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}section:nth-child(6) {
  background: green;
    background-image: url(6.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}section:nth-child(7) {
  background: yellow;
    background-image: url(7.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}section:nth-child(8) {
  background: red;
    background-image: url(8.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}

body {
  margin: 0;
    position:absolute;
  left:0px;
  top:0px;
  overflow: hidden;
  color: #fff;
  transition: opacity 400ms;
  background-color: black;
}
.main{
	position: absolute;
	
}

section {
  text-align: center;
  display: table;
  height:100vh;


}
#kernel {
	
  display: table-cell;
  vertical-align: middle;

}

body  {
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;

}
.onepage-wrapper, html {
	
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
  height: 100vh;
  top:8vh;

}

.onepage-wrapper {

  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -48px;
}

.onepage-pagination li {
  padding: 0;
  text-align: center;
}

.onepage-pagination li a {
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
}

.onepage-pagination li a:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before {
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid white;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
}

.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}

.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

h1{
	/*padding-top:46vh;*/
padding-top:46vh;
font-size:700%;
	font-family: 'Montserrat', sans-serif;
	
}
h2{
padding-top:0vh;
font-size:350%;
	font-family: 'Montserrat', sans-serif;
	
}
	
p{
	/*padding-top:0vh;*/
	padding-top:0vh;
	padding-left:5vw;
	padding-right:5vw;
	font-size:2.4vh;
	text-align:justify;
	font-family: 'Cabin', sans-serif; 
}
@media only screen and (min-width: 700px) and (orientation: portrait){
h1{
	padding-top:36vh;
}
p{
	padding-top:4vh;
}
}







